#contactMain {
  background-image: Contact-Us;
  text-align: center;
}
.Contact-Us {
  background-image: url("../../assets/Contact-Us.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 100;
}
